<div class="content">
	<%= render 'layouts/nav' %>
	<div class="mid-wide">
		<div id="search_box_hist">
			<table id="history_table">
				<tr>
					<td id="dummy_search_field">
						Enter Route
					</td>
					<td id="dummy_search_button">
						Search
					</td>
				</tr>
			</table>
		</div>
		<div id="hist_scroll">
			<table id="history_table">	
				<tr>
					<td id="bus_number_history">145
					</td>
					<td id="bus_route_info">Somewhere to Somewhere Else
					</td>
					<td id="bus_route_info">Hist Info Here
					</td>
				</tr>
				<tr>
					<% if logged_in? %>
						<td id="histbutton">Reverse
						</td>
						<td id="histbutton">Show
						</td>
						<td id="histbutton">Favorite
						</td>	                    	
					<% else %>
						<td id="histbutton" align="right">Reverse
						</td>
						<td id="histbutton">Show
						</td>
						<td id="histbutton">
						</td>
					<% end %>
				</tr>		
				<tr>
					<td id="bus_number_history">145
					</td>
					<td id="bus_route_info">Somewhere to Somewhere Else
					</td>
					<td id="bus_route_info">Hist Info Here
					</td>
				</tr>
				<tr>
					<% if logged_in? %>
						<td id="histbutton">Reverse
						</td>
						<td id="histbutton">Show
						</td>
						<td id="histbutton">Favorite
						</td>	                    	
					<% else %>
						<td id="histbutton" align="right">Reverse
						</td>
						<td id="histbutton">Show
						</td>
						<td id="histbutton">
						</td>
					<% end %>
				</tr>
				<tr>
					<td id="bus_number_history">145
					</td>
					<td id="bus_route_info">Somewhere to Somewhere Else
					</td>
					<td id="bus_route_info">Hist Info Here
					</td>
				</tr>
				<tr>
					<% if logged_in? %>
						<td id="histbutton">Reverse
						</td>
						<td id="histbutton">Show
						</td>
						<td id="histbutton">Favorite
						</td>	                    	
					<% else %>
						<td id="histbutton" align="right">Reverse
						</td>
						<td id="histbutton">Show
						</td>
						<td id="histbutton">
						</td>
					<% end %>
				</tr>
				<tr>
					<td id="bus_number_history">145
					</td>
					<td id="bus_route_info">Somewhere to Somewhere Else
					</td>
					<td id="bus_route_info">Hist Info Here
					</td>
				</tr>
				<tr>
					<% if logged_in? %>
						<td id="histbutton">Reverse
						</td>
						<td id="histbutton">Show
						</td>
						<td id="histbutton">Favorite
						</td>	                    	
					<% else %>
						<td id="histbutton" align="right">Reverse
						</td>
						<td id="histbutton">Show
						</td>
						<td id="histbutton">
						</td>
					<% end %>
				</tr>
				<tr>
					<td id="bus_number_history">145
					</td>
					<td id="bus_route_info">Somewhere to Somewhere Else
					</td>
					<td id="bus_route_info">Hist Info Here
					</td>
				</tr>
				<tr>
					<% if logged_in? %>
						<td id="histbutton">Reverse
						</td>
						<td id="histbutton">Show
						</td>
						<td id="histbutton">Favorite
						</td>	                    	
					<% else %>
						<td id="histbutton" align="right">Reverse
						</td>
						<td id="histbutton">Show
						</td>
						<td id="histbutton">
						</td>
					<% end %>
				</tr>
				<tr>
					<td id="bus_number_history">145
					</td>
					<td id="bus_route_info">Somewhere to Somewhere Else
					</td>
					<td id="bus_route_info">Hist Info Here
					</td>
				</tr>
				<tr>
					<% if logged_in? %>
						<td id="histbutton">Reverse
						</td>
						<td id="histbutton">Show
						</td>
						<td id="histbutton">Favorite
						</td>	                    	
					<% else %>
						<td id="histbutton" align="right">Reverse
						</td>
						<td id="histbutton">Show
						</td>
						<td id="histbutton">
						</td>
					<% end %>
				</tr>
				<tr>
					<td id="bus_number_history">145
					</td>
					<td id="bus_route_info">Somewhere to Somewhere Else
					</td>
					<td id="bus_route_info">Hist Info Here
					</td>
				</tr>
				<tr>
					<% if logged_in? %>
						<td id="histbutton">Reverse
						</td>
						<td id="histbutton">Show
						</td>
						<td id="histbutton">Favorite
						</td>	                    	
					<% else %>
						<td id="histbutton" align="right">Reverse
						</td>
						<td id="histbutton">Show
						</td>
						<td id="histbutton">
						</td>
					<% end %>
				</tr>
				<tr>
					<td id="bus_number_history">145
					</td>
					<td id="bus_route_info">Somewhere to Somewhere Else
					</td>
					<td id="bus_route_info">Hist Info Here
					</td>
				</tr>
				<tr>
					<% if logged_in? %>
						<td id="histbutton">Reverse
						</td>
						<td id="histbutton">Show
						</td>
						<td id="histbutton">Favorite
						</td>	                    	
					<% else %>
						<td id="histbutton" align="right">Reverse
						</td>
						<td id="histbutton">Show
						</td>
						<td id="histbutton">
						</td>
					<% end %>
				</tr>
				<tr>
					<td id="bus_number_history">145
					</td>
					<td id="bus_route_info">Somewhere to Somewhere Else
					</td>
					<td id="bus_route_info">Hist Info Here
					</td>
				</tr>
				<tr>
					<% if logged_in? %>
						<td id="histbutton">Reverse
						</td>
						<td id="histbutton">Show
						</td>
						<td id="histbutton">Favorite
						</td>	                    	
					<% else %>
						<td id="histbutton" align="right">Reverse
						</td>
						<td id="histbutton">Show
						</td>
						<td id="histbutton">
						</td>
					<% end %>
				</tr>
			</table>
		</table>
	</div>
</div>