<div class="content">
	<%= render 'layouts/nav' %>
	<div class="mid-wide">
		<div id="search_box_hist">
			<table id="history_table">
				<tr>
					<td id="dummy_search_field">
						Enter Route
					</td>
					<td id="dummy_search_button">
						Search
					</td>
				</tr>
			</table>
		</div>
		<div id="hist_scroll">
			<table id="history_table">	
				<% for i in 1..10 do %>
					<%= render 'layouts/dummy_hist' %>
				<% end %>
			</table>
		</table>
	</div>
</div>