<div class="content">
	<%= render 'layouts/nav' %>
	<div class="inner">
		<div class="left">
		<!-- Sample for UI change -->
			<div id="line_cont">
				<table id="line_table">
				<!--One Instance-->
					<tr>
						<td colspan="4" id="line_banner">
							C73
						</td>
					</tr>
					<tr>
						<td colspan="2" id="left_line">
						EB SAMPLE FS<br>
						GUILDFORD<br>
						No: 55786
						</td>
						<td colspan="2" id="right_line">
						WB SAMPLE FS<br>
						SURREY CENTRAL STATION<br>
						No: 55922
						</td>
					</tr>
					<tr>
						<td id="left_line_gps">
							GPS<br>
							6m
						</td>
						<td id="left_line_avg">
							AVG<br>
							10m
						</td>
						<td id="right_line_gps">
							GPS<br>
							6m
						</td>
						<td id="right_line_avg">
							GPS<br>
							6m
						</td>
					</tr>
				<!--One Instance-->
				<!--One Instance-->
					<tr>
						<td colspan="4" id="line_banner">
							C73
						</td>
					</tr>
					<tr>
						<td colspan="2" id="left_line">
						EB SAMPLE FS<br>
						GUILDFORD<br>
						No: 55786
						</td>
						<td colspan="2" id="right_line">
						WB SAMPLE FS<br>
						SURREY CENTRAL STATION<br>
						No: 55922
						</td>
					</tr>
					<tr>
						<td id="left_line_gps">
							GPS<br>
							6m
						</td>
						<td id="left_line_avg">
							AVG<br>
							10m
						</td>
						<td id="right_line_gps">
							GPS<br>
							6m
						</td>
						<td id="right_line_avg">
							GPS<br>
							6m
						</td>
					</tr>
				<!--One Instance-->
				<!--One Instance-->
					<tr>
						<td colspan="4" id="line_banner">
							C73
						</td>
					</tr>
					<tr>
						<td colspan="4" id="left_line">
						EB SAMPLE FS<br>
						GUILDFORD<br>
						No: 55786
						</td>
					</tr>
					<tr>
						<td id="left_line_gps" colspan="2" >
							GPS<br>
							6m
						</td>
						<td id="left_line_avg" colspan="2" >
							AVG<br>
							10m
						</td>
					</tr>
				<!--One Instance-->
				</table>
			</div>
			<!-- Sample for UI change -->
			<div id="bus_scroll">
				<table id="bus_table">
				</table>
			</div>
			
		</div>
		<div class="right">
			<div id="map"></div>
			<div id="explanation_left">
				<div id="translink_disclaimer">
					Some of the data used in this product or service is provided by permission of TransLink. TransLink assumes no responsibility for the accuracy or currency of the Data used in this product or service.
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_5saOsQDUS9U1RJJUsYI3qsZB8aCxGZc&callback=initMap"
	    async defer>
</script>
