/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body{
 	font-family: 'Roboto', sans-serif;
 	font-weight: 500;
 	font-size: 20px;
 	height: 100%;
 	width: 100%;
 	background-color: black;
 	margin: 0px;
 	display:table;
}
.alert {
    color:white;
}
#spacer{
	padding:30px;
	width:100%;
}
h1{
	color: white;
	text-align: center;
}
.logsign_cont{
	color: white;
	padding: 0px 0px 0px 0px;
	width: 30%;
 	background-color: black;
 	float:left;
 	display: table-cell;
  	height: 100%;
}
.right{
	padding: 0px 0px 0px 0px;
	width:70%;
	display: table-cell;
	height: 100%;
 	float:right;
 	background-color: black;
}

a{
	color: black;
	text-decoration: none;
}
.reg_button{
	background-color: #0060a8;
	color: white;
	border: 0;
	padding: 5px 10px 5px 10px;
	text-align: center;
	text-decoration: none;
	font-weight:700;
	font-size: 20px;
	width: 100%;
	height: 50px;
}
#login{
	background-color: #0060a8;
	border-collapse: collapse;
	margin: auto;

}
#busses{
	background-color: #0060a8;
	border-collapse: collapse;
	width: 100%;
	margin: auto;
}
#bushist{
	background-color: #0060a8;
	border-collapse: collapse;
	width: 90%;
	margin: auto;
	margin-top: 10%;
}
td {
	padding: 10px 10px 10px 10px;
	border-style: solid;
	border-width: 6px 0px 0px 0px;
	border-color: black;
}
td#buttonbox{
	padding: 0px;
}
#logo{
	width: auto;
	max-width: 70%;
}
#logo_container{
	text-align: center;
}
.nav{
	color: white;
	font-size: 30px;
}
.nav:hover, .nav:active{
	color: #0060a8;
}
#nav_cont{
	text-align: center;
	word-spacing:20px;
	padding: 0 0 20px 0;
}
.reg_field{
	width:80%;
}
#busnum{
	text-align: center;
	font-size: 30px;
}
#bushistnum{
	font-size: 30px;
}
#businfo{
	font-size: 20px;
	color: black;
}
#busscroll{
	overflow-y: auto;
	margin: auto;
	width: 90%;
	max-height: 600px;
}
#searchbox{
	margin: auto;
	width: 90%;
}
#reverse{
	font-size: 18px;
	background-color: white;
	color: #0060a8;
}
#histbutton{
	font-size: 20px;
	background-color: white;
	color: #0060a8;
}
#search{
	background-color: white;
	color: black;
	margin: auto;
	width: 90%;
	text-align: left;
	font-size: 25px;
	font-weight: 500;
}
#searchbutton{
	background-color: #0060a8;
	color: white;
	text-align: center;
	font-size: 25px;
	font-weight: 500;
    cursor:pointer;
}
#searchbutton:hover{
    color:black;
}
#disclaimer{
	color:white;
	font-size:15px;
}
#info{
	color: white;
	font-size:15px;
}
#latlong, #latlonginfo{
	color:red;
	font-size:20px;
}
#userscroll {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color:white;
    margin-top: 10%;
    background-color: #0060a8;
    overflow-y:scroll;
    border-collapse: collapse;

}
#map{
	width:100%;
	height:900px;
}
@media screen and (max-width: 1050px){
	.right{
		width: 100% !important;
		height: 500px !important;
		display: inline-block !important;
		float: left !important;
	}
	.logsign_cont{
		width: 100% !important;
		height:auto !important;
		padding-bottom:30px;
		display: inline-block !important;
		float: left !important;
	}
	html, body{
		display: block !important;
	}
	#spacer{
		padding:30px 0px 0px 0px;
	}
}
