/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body{
 	font-family: 'Roboto', sans-serif;
 	font-weight: 500;
 	font-size: 20px;
 	/*display: table;*/
 	height: 100%;
 	width: 100%;
 	background-color: white;
 	margin: 0px;
}
#spacer{
	padding:30px;
	width:100%;
}
h1{
	color: white;
	text-align: center;
}
.logsign_cont{
	color: white;
	padding: 0px 30px 0px 30px;
	width: 25%;
 	background-color: black;
 	float:left;
 	display: table-cell;
  	height: 100%;
}
.right{
	padding: 30px 30px 30px 30px;
	width:65%;
	background-color: white;
	display: table-cell;
	/*height: 100%;*/
 	float:left;
}
a{
	color: black;
	text-decoration: none;
}
.reg_button{
	background-color: #0060a8;
	color: white;
	border: 0;
	padding: 5px 10px 5px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	width: 100%;
	height: 50px;
}
#login{
	background-color: #0060a8;
	border-collapse: collapse;
	margin: auto;

}
td {
	padding: 10px 10px 10px 10px;
	border-style: solid;
	border-width: 6px 0px 0px 0px;
	border-color: black;
}
td#buttonbox{
	padding: 0px;
}
#logo{
	width: 300px;
}
#logo_container{
	text-align: center;
}