/*Basic Tags*/
	html, body{
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 20px;
		background-color: black;
		margin: 0px;
	}
	h1{
		color: white;
		text-align: center;
	}
	a{
		color: black;
		text-decoration: none;
	}
	a:hover{
		color: #A8000C;
	}
	td {
		padding: 10px;
		border-style: solid;
		border-width: 6px 0px 0px 0px;
		border-color: black;
	}
/*Main Containers*/
	.content{
		margin: auto;
		padding: 20px;
	}
	.left, .right, .mid, .mid-wide{
		color: white;
		padding: 0px 0px 0px 0px;
		background-color: black;
		display: block;
	}
	.left{
		width: 30%;
		float: left;
		margin-left: 3%;
	}
	.right{
		width: 64%;
		float: right;
		margin-right: 3%;
	}
	.toolbar{
		width: auto;
		margin: 0px 0px 20px 0px; 
		background-color: black;
	}
	.mid{
		width: 45%;
		margin: auto;
	}
	.mid-wide{
		width: 70%;
		margin: auto;
	}
/* Navigation */
	.logo_container, .navigation_container{
		text-align: center;
	}
	.navigation_container{
		word-spacing:20px;
		padding-bottom: 20px;
	}
	#logo{
		width: auto;
		max-width: 50%;
	}
	#nav-button{
		color: white;
		font-size: 30px;
		font-weight: 500;
	}
	#nav-button:hover, #nav-button:active{
		color: #A8000C;
	}
/* Informational Texts & Containers */
	.alert {
		color:white;
		text-align:center;
	}
	#wait{
		font-size: 40px;
		text-align: center;
		height: 650px;
		width: auto;
		border-width: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	#bus_number_left, #bus_number_history{
		font-size: 30px;
		border-width: 1px 0px 0px 0px;
		text-align: center;
	}
	#bus_route_info, #bus_route_info_sel, #bus_route_times{
		font-size: 20px;
		color: black;
		border-style: solid;
		border-width: 1px 0px 0px 1px;
		border-color: black;
		text-align: center;
		padding: 10px 10px 10px 10px;
	}
	#bus_route_times_big{
		font-size: 30px;
		border-style: none;
	}
	#bus_route_info, #bus_route_info_sel{
		cursor:pointer;
	}
	#bus_route_info:hover{
		background-color: #A8000C;
	}
	#bus_route_info_sel{
		background-color: #A8000C;
		padding: 10px 0px 0px 0px;
	}
	#bus_times, #bus_times_in{
		font-size: 15px;
		padding: 7px 0px 7px 0px;
		color: black;
		border-style: solid;
		border-width: 5px 0px 0px 0px;
		border-color: #A8000C;
		background-color: white;
		text-align: center;
		display: inline-block;
		font-weight: 500;
		width: 33%;
	}
	#twitter-place{
		font-size: 15px;
	}
	#bus_times_in{
		border-width: 5px 1px 0px 1px;
	}
	#bus_times_num{
		font-size: 30px;
	}
	#route_spacer{
		padding: 3px;
		border-style: solid;
		border-width: 0px 0px 0px 0px;
		border-color: black;
		background-color: black;
	}
	#explanation{
		width: auto;
		margin-right: 20px;
	}
	#usage_info_left, #translink_disclaimer{
		color: white;
		font-size:15px;
		padding-top: 20px;
	}
	#lat_long, #lat_long_info, #routes_ex, #debug1{
		color: #A8000C;
		font-size:15px;
	}
	#map{
		width:auto;
		height:650px;
	}
	#toolbar-table{
		text-align: center;
		background-color: black;
		border-collapse: collapse;
		width: 100%;
	}
	#toolbar-table td{
		padding: 10px;
		background-color: #0060a8;
	}
/* Forms & Form Containers */
	#login{
		background-color: #0060a8;
		border-collapse: collapse;
		width:100%;
		margin: auto;
	}
	.reg_field{
		width:90%;
	}
	#search_box, #search_box_hist, #search_box_route{
		width: auto;
	}
	#search_box{
		margin-right: 20px;
	}
	#dummy_search_field{
		background-color: white;
		color: black;
		margin: auto;
		width: 90%;
		text-align: left;
		font-size: 25px;
		font-weight: 500;
		border-width: 0px 0px 0px 0px;
	}

/* Buttons*/
	#dummy_route_buttons, #histbutton{
		font-size: 20px;
		background-color: white;
		color: #0060a8;
		border-width: 0px 0px 6px 0px;
		cursor:pointer;
	}
	.reg_button{
		background-color: #0060a8;
		color: black;
		border-color: black;
		border-width: 6px 0px 0px 0px;
		border-collapse: collapse;
		padding: 10px 10px 10px 10px;
		text-align: center;
		text-decoration: none;
		font-weight:500;
		font-size: 20px;
		width: 100%;
		cursor:pointer;
	}

	.reg_button:hover{
		background-color:#A8000C;
	}
	#buttonbox{
		padding: 0px;
		margin: 0px 0px 0px 0px;
		border-width: 10px 0px 0px 0px;
		border-collapse: collapse;
	}
	#dummy_search_button{
		background-color: #0060a8;
		color: white;
		text-align: center;
		font-size: 25px;
		font-weight: 500;
		cursor:pointer;
		border-width: 0px 0px 0px 0px;
	}
	#dummy_search_button:hover, #histbutton:hover, #dummy_route_buttons:hover{
		background-color:#A8000C;
	}
	#refresh-button{
		cursor:pointer;
		border-width: 0px 10px 20px 0px;
		border-color: black;
		margin: 0px 20px 20px 0px;
		width: auto;
		background-color: #0060a8;
		padding: 10px;
		text-align: center;
		font-size: 25px;
		font-color: black;
	}
	#refresh-button:hover{
		background-color:#A8000C;
	}
/* Scroll Containers */
	#bus_scroll{
		overflow-y: auto;
		width: auto;
		max-height: 700px;
		margin-right: 20px;
	}
	#hist_scroll, #user_scroll{
		overflow-y: auto;
		width: auto;
		max-height: 600px;
	}
/* Table Containers */
	#bus_table, #user_table, #history_table, #bus_table_search{
		background-color: #0060a8;
		border-collapse: collapse;
		width: 100%;
		margin: auto;
	}
/*Media Requests */ 
	@media screen and (max-width: 1050px){
		html, body{
			display: block !important;
		}
		.left, .right, .mid{
			width: 100% !important;
			display: inline-block !important;
			float: left;
			margin: auto;
		}
		.right{
			height: 500px !important;
		}
		.left{
			height:auto !important;
			padding-bottom:30px;
		}
		#map{
			width: 100%;
			height: 500px;
		}
		#bus_scroll, #search_box, #hist_scroll, #user_scroll{
			margin: auto;
		}
		#wait{
			height: auto;
			padding: 20px 20px 20px 20px;
		}
	}