/*Basic Tags*/
	html, body{
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 20px;
		background-color: black;
		margin: 0px;
	}
	h1{
		color: white;
		text-align: center;
	}
	a{
		color: black;
		text-decoration: none;
	}
	td {
		padding: 10px;
		border-style: solid;
		border-width: 6px 0px 0px 0px;
		border-color: black;
	}
/*Main Containers*/
	.content{
		margin: auto;
		padding: 20px;
	}
	.left, .right, .mid, .mid-wide{
		color: white;
		padding: 0px 0px 0px 0px;
		background-color: black;
		display: block;
	}
	.left{
		width: 30%;
		float: left;
		margin-left: 3%;
	}
	.right{
		width: 64%;
		float: right;
		margin-right: 3%;
	}
	.mid{
		width: 45%;
		margin: auto;
	}
	.mid-wide{
		width: 70%;
		margin: auto;
	}
/* Navigation */
	.logo_container, .navigation_container{
		text-align: center;
	}
	.navigation_container{
		word-spacing:20px;
		padding-bottom: 20px;
	}
	#logo{
		width: auto;
		max-width: 50%;
	}
	.nav{
		color: white;
		font-size: 30px;
		font-weight: 500;
	}
	.nav:hover, .nav:active{
		color: #0060a8;
	}
/* Informational Texts & Containers */
	.alert {
		color:white;
	}
	#bus_number_left, #bus_number_history{
		font-size: 30px;
		border-width: 1px 0px 0px 0px;
		text-align: center;
	}
	#bus_route_info, #bus_route_info_sel{
		font-size: 20px;
		color: black;
		border-style: solid;
		border-width: 1px 0px 0px 1px;
		border-color: black;
		text-align: center;
	}
	#bus_times{
		font-size: 15px;
		padding: 7px;
		color: black;
		border-style: solid;
		border-width: 1px 1px 1px 1px;
		border-color: black;
		background-color: white;
		text-align: center;
		display: inline-block;
		font-weight: 500;
	}
	#bus_times_num{
		font-size: 30px;
	}
	#bus_route_info_sel{
		background-color: #004F8A;
	}
	#route_spacer{
		padding: 3px;
		border-style: solid;
		border-width: 0px 0px 0px 0px;
		border-color: black;
		background-color: black;
	}
	#explanation_left{
		width: auto;
		margin-right: 20px;
	}
	#usage_info_left, #translink_disclaimer{
		color: white;
		font-size:15px;
	}
	#lat_long, #lat_long_info, #routes_ex{
		color:red;
		font-size:15px;
	}
	#map{
		width:auto;
		height:700px;
	}
/* Forms & Form Containers */
	#login{
		background-color: #0060a8;
		border-collapse: collapse;
		width:100%;
		margin: auto;
	}
	.reg_field{
		width:80%;
	}
	#search_box, #search_box_hist, #search_box_route{
		width: auto;
	}
	#search_box{
		margin-right: 20px;
	}
	#dummy_search_field{
		background-color: white;
		color: black;
		margin: auto;
		width: 90%;
		text-align: left;
		font-size: 25px;
		font-weight: 500;
		border-width: 0px 0px 0px 0px;
	}

/* Buttons*/
	#dummy_route_buttons, #histbutton{
		font-size: 20px;
		background-color: white;
		color: #0060a8;
		border-width: 0px 0px 6px 0px;
		cursor:pointer;
	}
	.reg_button{
		background-color: #0060a8;
		color: white;
		border: 0;
		padding: 5px 10px 5px 10px;
		text-align: center;
		text-decoration: none;
		font-weight:500;
		font-size: 20px;
		width: 100%;
		height: 50px;
		cursor:pointer;
	}
	td#buttonbox{
		padding: 0px;
	}
	#dummy_search_button{
		background-color: #0060a8;
		color: white;
		text-align: center;
		font-size: 25px;
		font-weight: 500;
		cursor:pointer;
		border-width: 0px 0px 0px 0px;
	}
	#dummy_search_button:hover, #histbutton:hover, #dummy_route_buttons:hover{
		color:black;
	}
	.reg_button:hover{
		color: black;
	}
/* Scroll Containers */
	#bus_scroll{
		overflow-y: auto;
		width: auto;
		max-height: 400px;
		margin-right: 20px;
	}
	#hist_scroll, #user_scroll{
		overflow-y: auto;
		width: auto;
		max-height: 600px;
	}
	/*
	#user_scroll {
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		font-size: 20px;
		color:white;
		background-color: #0060a8;
		overflow-y:scroll;
		border-collapse: collapse;
	}*/
/* Table Containers */
	#bus_table, #user_table, #history_table{
		background-color: #0060a8;
		border-collapse: collapse;
		width: 100%;
		margin: auto;
	}
/*Media Requests */ 
	@media screen and (max-width: 1050px){
		html, body{
			display: block !important;
		}
		.left, .right, .mid{
			width: 100% !important;
			display: inline-block !important;
			float: left;
			margin: auto;
		}
		.right{
			height: 500px !important;
		}
		.left{
			height:auto !important;
			padding-bottom:30px;
		}
		#map{
			width: 100%;
			height: 500px;
		}
		#bus_scroll, #search_box, #hist_scroll, #user_scroll{
			margin: auto;
		}
	}
