<tr>
	<td id="route_spacer" colspan="2"></td>
</tr>
<tr>
	<td rowspan = "2" id="bus_number_left">145</td>
	<td id="bus_route_info">SFU Bay 2 to Production Way Station</td>
</tr>
<tr>
	<td id="bus_route_info">Production Way Station to SFU Bay 2</td>
</tr>

