<tr>
	<td id="route_spacer" colspan="2"></td>
</tr>
<tr>
	<td rowspan = "2" id="bus_number_left">125</td>
	<td id="bus_route_info_sel">
		Somewhere to Production Way Station<br>
		Stop 12345<br>
		99th St South @ 5th Ave<br>
		<div id="bus_times">Actual<br><font id="bus_times_num">6min</font></div>
		<div id="bus_times">Schedule<br><font id="bus_times_num">3min</font></div>
		<div id="bus_times">Usual<br><font id="bus_times_num">+3min</font></div>
	</td>
</tr>
<tr>
	<td id="bus_route_info">Production Way Station to Somewhere</td>
</tr>